.about {
	margin-top: 35px;
	margin-bottom: 50px;
	color: var(--primary-2);
}

.about__inner {
	display: flex;
}

.left {
	margin-right: 68px;
}

.right {
	align-self: flex-end;
}

.about__title {
	margin-bottom: 40px;
	font-size: 42px;
	font-weight: 500;
}

.about__text {
	width: 555px;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: .4px;
}
