.about {
	margin-top: 35px;
	margin-bottom: 50px;
}

.about__content {
	display: flex;
}

.left {
	margin-right: 68px;
}

.right {
	align-self: flex-end;
}

.about__text {
	width: 555px;
	margin-top: 40px;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: .4px;
}

.about__img--mobile {
	display: none;
}

@media screen and (max-width: 420px) {
	.about {
		margin-top: 30px;
	}

	.about__content {
		flex-direction: column;
	}

	.left {
		order: 2;
		margin-right: 0;
	}

	.about__text {
		width: 100%;
		margin-top: 25px;
		font-size: 14px;
		line-height: 22px;
	}

	.right {
		order: 1;
		margin-top: 24px;
	}

	.about__img {
		display: none;
	}

	.about__img--mobile {
		display: block;
	}
}
