.meetings {
	margin-top: 35px;
	margin-bottom: 35px;
}

.meetings__items {
    margin-top: 52px;
}

.meetings__item.item {
    margin-bottom: 30px;
}

.item__title {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary);
    text-decoration-line: underline;
}

.item__body {
    display: flex;
    margin-top: 33px;
}

.item__img {
    margin-right: 30px;
}

.item__wrapper-text {
    display: flex;
    flex-direction: column;
    width: 652px;
}

.item__text {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.item__date {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    color: var(--primary);
    text-align: right;
}

@media screen and (max-width: 420px) {
    .meetings {
        margin-top: 30px;
    }

    .meetings__items {
        margin-top: 30px;
    }

    .meetings__item.item {
        margin-bottom: 38px;
    }

    .item__title {
        font-size: 20px;
        line-height: 30px;
    }

	.item__body {
        flex-direction: column;
        margin-top: 18px;
    }

    .item__img {
        margin-right: 0;
        height: 260.84px;
    }
    
    .item__wrapper-text {
        width: 100%;
        margin-top: 28px;
    }

    .item__date {
        margin-top: 15px;
        text-align: left;
    }
}