.services {
	margin-top: 35px;
	margin-bottom: 85px;
}

.services__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 33px;
}

.services__card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 555px;
	height: 220px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.services__card p {
	font-size: 25px;
	font-weight: bold;
	color: var(--white);
	line-height: 30px;
	letter-spacing: 0;
	text-align: center;
}

.services__card-img1 {
	background: url(../img/our-services/our-services-img1.jpg);
}

.services__card-img2 {
	background: url(../img/our-services/our-services-img2.jpg);
}

.services__card-img3 {
	background: url(../img/our-services/our-services-img3.jpg);
}

.services__card-img4 {
	background: url(../img/our-services/our-services-img4.jpg);
}

.services__text {
	margin-bottom: 35px;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

.services__button {
	padding: 16px 26px;
	background: var(--button);
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(245, 0, 52, 0.4);
	font-size: 18px;
	font-weight: bold;
	color: var(--white);
}

@media screen and (max-width: 420px) {
	.services {
		margin-top: 30px;
		margin-bottom: 47px;
	}

	.services__cards {
		margin-top: 47px;
		margin-bottom: 5px;
	}

	.services__card-img1, .services__card-img2, .services__card-img3, .services__card-img4 {
		height: 135px;
	}

	.services__card-img3 {
		margin-bottom: 30px;
	}

	.services__card p {
		font-size: 18px;
	}

	.services__text {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 25px;
	}

	.services__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 187px;
		height: 36.4px;
		padding: 0;
		font-size: 12px;
	}
}